.card .icon {
  font-size: 3rem;
  color: lightseagreen;
}

.card-text {
  color: gray;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  background-color: lightseagreen;
  color: #fff;
}

.card:hover .icon,
.card:hover .card-text {
  color: #fff;
}